
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language).fixed-top
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
    //-  Add to home screen for Safari on iOS 
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="Blog PWA")
    link(rel="apple-touch-icon", href="images/icons/icon-152x152.png")

    meta(name="msapplication-TileImage", content="images/icons/icon-144x144.png")
    meta(name="msapplication-TileColor", content="#2F3BA2")

    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href= url_for('/favicon.ico'))
  body
    include ./navbar.pug
    block magic
    #content-outer
      #content-inner.content
        if body
          div!= body
        else
          block content
    #bottom-outer
      #bottom-inner
        span Site construction by
        span= ' ' + config.author + ' '
        span using
        a(href='http://hexo.io')
          span hexo blog framework
        span .
        //- br
        //- a(href=config.root) Home
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      script.
        window.is_home = !{is_home() && page.prev == 0}
      each url in theme.scripts
        script(src=url)
