extends includes/layout.pug

block content
  #tag.main-content   
    .post-collapse     
      .time-line-start
      .archive-page-counter #{ page.tag }标签共计 #{page.posts.length} 篇日志，加油！
      each post in page.posts.toArray()
        - var currentYear;
        - post.year = date(post.date, 'YYYY');
        if post.year !== currentYear
          - currentYear = post.year;
          .time-title
            a.time-title-link(href=url_for(config.archive_dir + '/' + currentYear))
              != currentYear
            .time-line-bg
              span.time-line-disc
        .article-archive-wrap
          .article-archive-header
            span.title-date=date(post.date, 'MM-DD')
            .article-achive-title
              if post.link
                a.title-link(href=post.link)
                  !=post.title
              else
                - var rulRegex = /(\/index\.html?$)|(\/?$)/;
                - var path = post.path.replace(rulRegex, '');
                a.title-link(href=url_for(path))
                  !=post.title

  //- div#tag
  //-   h1= 'Tag: ' + page.tag
  //-   - page.posts.each(function(article){
  //-     if article.link
  //-       a(href=url_for(article.link) target="_blank")
  //-         = article.title || 'No Title'
  //-       time(datetime=date_xml(article.date))= date(article.date)
  //-     else
  //-       a(href=url_for(article.path))= article.title || 'No Title'
  //-       time(datetime=date_xml(article.date))= date(article.date)
  //-     br.clear
  //-   - })
  include includes/pagination.pug

