.nav-wrap.container
  .nav-panel
    .panel-title.card 最新推荐
    .panel-body
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
        .card-footer
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
        .card-footer
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
      .panel-item.card
        a.card-heading(title="https://www.producthunt.com/",href="https://www.producthunt.com/",target=_blank)
          span.card-icon
            img(src="/images/navs/36kr.png")
          span.card-title XXXXXX
        .card-body 按时打算大所大所多
